@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #f0f4f8; /* Color de fondo (puedes elegir cualquier tono) */
  color: #333333; /* Color de texto */
  font-family: 'Inter', sans-serif; /* Fuente predeterminada (puedes cambiarla por otra que prefieras) */
  line-height: 1.6;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50; /* Título de color más oscuro */
}

a {
  color: #3498db; /* Color de los enlaces */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Efecto hover en los enlaces */
}